extends layout

block content
    if (message)
        h4 #{message}
    .right
        a.toggle-finished Hide Finished Translations
    .clearfix
    if (languages.length > 1)
        h4 Select Language
        select.lang-select
            each lang in languages
                option(value=lang) #{lang}

    - for (var lang in langData) {
    -   if (lang === "en") { continue; }
        div(class=lang).lang
            h4 #{lang}
            span Progress: #{langProgress[lang].percent} (#{langProgress[lang].count} / #{langProgress[lang].max})
            .progress-bar
                .progress(style="width: " + langProgress[lang].percent)
            form(action="/translation", method="POST")
                input(type="hidden", name="lang", value=lang)
                button(type = "Submit") Save
                - for (var key in langData["en"]) {
                    p(class=(langData[lang] && langData[lang][key] ? 'edit' : '')).translation
                        label #{key}: #{langData.en[key]}
                        br
                        if (langData[lang] && langData[lang][key])
                            input(type="text", placeholder=langData[lang][key], name=key, value=langData[lang][key]).translation-input
                        else
                            input(type="text", name=key).translation-input.highlight
                - }
                button(type = "Submit") Save
    - }

    script(type="text/javascript", src="/javascripts/translations.js")
